<mat-card class="info__card">
    <mat-card-header>
        <mat-card-subtitle>
            All devices connected to a RemoteBeep channel send and receive beep commands between each other.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="info__content">
        <mat-form-field appearance="fill">
            <mat-label>Your RemoteBeep channel address</mat-label>
            <input matInput type="text" [value]="(channelUrl$ | async)" />
            <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Copy to clipboard'"
                
            >
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
</mat-card>
