<mat-card class="options__card">
    <mat-card-header>
        <mat-card-title>Play Mode</mat-card-title>
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.ControlOnly"
            >This device sends commands to the other devices in this group, but will not play any sounds.</mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.PlayOnly"
            >This device plays when requested by other devices in this group.
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.ControlAndPlay"
            >When you click the Play button, a sound will be played on this device and a play command will be sent to all other devices in the group.</mat-card-subtitle
        >
    </mat-card-header>
    <mat-card-content>
        <mat-button-toggle-group
            class="options__toggle-group"
            [ngModel]="mode$ | async"
            (change)="onModeChange($event)"
        >
            <mat-button-toggle [value]="modeEnum.ControlOnly"
                >Control only</mat-button-toggle
            >
            <mat-button-toggle [value]="modeEnum.PlayOnly"
                >Play only</mat-button-toggle
            >
            <mat-button-toggle [value]="modeEnum.ControlAndPlay"
                >Control &amp; Play</mat-button-toggle
            >
        </mat-button-toggle-group>
    </mat-card-content>
</mat-card>
