<mat-card class="options__card">
    <mat-card-header>
        <mat-card-title>Play Mode</mat-card-title>
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.ControlOnly"
            >No sounds will be played on this device. All devices connected to
            xxx will play sounds.</mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.PlayOnly"
            >po
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="(mode$ | async) === modeEnum.ControlAndPlay"
            >c and p</mat-card-subtitle
        >
    </mat-card-header>
    <mat-card-content>
        <mat-button-toggle-group
            class="options__toggle-group"
            [ngModel]="mode$ | async"
            (change)="onModeChange($event)"
        >
            <mat-button-toggle [value]="modeEnum.ControlOnly"
                >Control only</mat-button-toggle
            >
            <mat-button-toggle [value]="modeEnum.PlayOnly"
                >Play only</mat-button-toggle
            >
            <mat-button-toggle [value]="modeEnum.ControlAndPlay"
                >Control &amp; Play</mat-button-toggle
            >
        </mat-button-toggle-group>
    </mat-card-content>
</mat-card>
