.group-info__card--normal-mode {
    .group-info__collapse {
        position: absolute;
        right:10px;
        top:12px;
        cursor: pointer;
    }


}

.group-info__card--mini-mode {
    .group-info__card-subtitle {
        margin-bottom: 0;
    }

    .group-info__expand {
        position: absolute;
        right:10px;
        top:12px;
        cursor: pointer;
    }
}

.group-info__card--normal-mode, .group-info__card--mini-mode {
    background-color: ALICEBLUE;

    .group-info__content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .group-info__others {
        display: flex;
        padding-bottom: 3px;
    }

    .group-info__others-icon {
        font-size: 21px;
        color: #6057ad;
    }

    .group-info__others-text {
        font-size: 12px;
        padding-bottom: 4px;
        padding-top: 5px;
        color: #5446c5;
        font-weight: bold;
        padding-left: 3 px;
    }
}
